<html>
  <head>
    <title>Link</title>
    <style>
      .c-hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="c-hero">
      <h1> Link Tracking</h1>

      <code>POST /create/:url</code>
      <code>POST /read/:access_token</code>
      {{ .values }}
    </div>
  </body>
</html>